#form-container {
    flex: 1;
    background-image: url("../img/pattern.png");
    background-size: cover;
    color: white;
}

#form-inner {
    margin: 4rem 2.7rem 3rem 3rem;
    padding: 3rem;
    border: 2px solid #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-inner h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#form-inner p {
    margin-bottom: 1rem;
}

#register-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

#name-container {
    display: flex;
    gap: 0.5rem;
}

#register-form input {
    padding: .8rem .6rem;
    border: none;
    border-radius: 3px;
}

#email {
    min-width: 100%;
}

#register-form input[type="submit"] {
    background-color: transparent;
    color: white;
    border: 2px solid #fff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

#register-form input[type="submit"]:hover {
    background-color: #fff;
    color: #0075ff;
}

#benefits {
    text-align: left;
    align-self: start;
}

#benefits h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#benefits ul {
    list-style-position: inside;
}

#benefits li {
    margin-bottom: 0.5rem;
}